<% provide(:title, "About") %>

<div class="center">
<h1>About the App</h1>
<p>
  Creater: Alvin Situ
</p>
<p>Email: jisitu@ucdavis.edu</p>
<p>Find the source code on <a href="https://github.com/avsitu/rails_app"/>Github</a></p>
<p>Based on a <a href="http://www.railstutorial.org/">tutorial</a> by Michael Hartl</p> 
</div>