<% provide(:title, 'Contact') %>
<div class="center">
<h1>Contact</h1>
<p>
  Creater: Alvin Situ
</p>
<p>Email: jisitu@ucdavis.edu</p>
<p>You can find the source code on <a href="https://github.com/avsitu/rails_app"/>Github</p>
</div>