<% path = microposts_path if current_page?(:controller => 'static_pages', :action => 'home') %>
<% path = ppost_path if current_page?(current_user) %>

<%= form_for(@micropost, url: path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>