<footer class="footer">
  <small>
    A Demo Ruby on Rails Web Application 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <!-- <li><%= link_to "Contact", contact_path %></li> -->
    </ul>
  </nav>
</footer>